{% load i18n %}



    <ul class="breadcrumb pull-right nav-accounts">
        {% if user.is_authenticated %}
            <li>
                <a href="{% url "customer:summary" %}">{% trans "Account" %}</a>

            </li>

            {% if user.is_staff or perms.partner.dashboard_access %}
            <li class="hidden-phone">
                <a href="{% url "dashboard:index" %}">{% trans "Dashboard" %}</a>

            </li>
            {% endif %}
            <li><a href="{% url "customer:logout" %}">{% trans "Logout" %}</a></li>
        {% else %}
            <li><a href="{% url "customer:login" %}">{% trans "Login or register" %}</a></li>
        {% endif %}



     </ul>

