{% load url from future %}
{% load currency_filters %}
{% load category_tags %}
{% load i18n %}

<div class="container">
<ul class="nav nav-pills ">
    {% category_tree depth=2 as tree_categories %}
  <li><a tabindex="-1" href="{% url 'catalogue:index' %}">Все</a></li>
     {% if tree_categories %}
        {% for tree_category, info in tree_categories %}

          <li><a tabindex="-1" href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a></li>

                                {% endfor %}
                            {% endif %}

      {% block nav_dropdown_extra_items %}
                                <li><a href="{% url 'offer:list' %}">{% trans "Offers" %}</a></li>
                            {% endblock %}


                <!-- {% block header %}
                    <div class="page-header">
                        <h1>{% block headertext %}{% endblock %}</h1>
                    </div>
                {% endblock %}
                {% include "partials/alert_messages.html" %}
                {% block subnavigation %}{% endblock %}

                    {% block subheader %}{% endblock subheader %}-->



</ul>





</div>





