

{% load reviews_tags %}
{% load thumbnail %}
{% load category_tags %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}

{% block product %}





       <div class="item-box fixed-box">

           {% block product_image %}
								<figure>
									<a class="item-hover" href="{{ product.get_absolute_url }}" >
										<span class="overlay color2"></span>

										<span class="inner">

											<span class="block fa fa-plus fsize20"></span>
											УЗНАТЬ БОЛЬШЕ

										</span>
                                         
									</a>
									<a href="shop-cart.html@action=cart_add&amp;product_id=1&amp;product_color=red&amp;product_size=l&amp;product_qty=1" class="btn btn-primary add_to_cart"><i class="fa fa-shopping-cart"></i> В КОРЗИНУ</a>

                                       {% with image=product.primary_image %}
                                {% thumbnail image.original  "480x480" crop="center" as thumb %}
                                    <a href="{{ product.get_absolute_url }}"><img   src="{{ thumb.url }}"  width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.get_title }}"  ></a>
                                    {% endthumbnail %}
                                {% endwith %}






								</figure>
								<div class="item-box-desc">
                                    {% block product_title %}
                     <h4>{{ product.get_title|truncatewords:4 }}</h4>
                    {% endblock %}
									<h4>Cool Chair</h4>
									<small class="styleColor"><span>$180</span> $150</small>
								</div>


 {% endblock %}

	   </div>

     {% endblock %}






