{% load reviews_tags %}
{% load thumbnail %}
{% load category_tags %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}

{% block product %}
 <div class="portfolio">
      {% block product_image %}


          <figure >
	     	    {% with image=product.primary_image %}
                    {% thumbnail image.original  "480x480" crop="center" as thumb %}
                    <a href="{{ product.get_absolute_url }}"><img src="{{ thumb.url }}"  width="{{ im.width }}" height="{{ im.height }}" alt="{{ product.get_title }}"  ></a>
                    {% endthumbnail %}
                 {% endwith %}



		      <figcaption>



                    {% block product_title %}
                     <h4 style="color:#ffffff;"><a href="{{ product.get_absolute_url }}">{{ product.get_title|truncatewords:4 }}</a></h4>
                    {% endblock %}




			         <p>
                            {% block product_price %}
                              <div class="product_price">
                                   {% include "catalogue/partials/stock_record.html" %}

                              </div>
                             {% endblock %}</p>


			          <p>{{product.description|striptags}}</p>
			          <br/>
                                 {% if not product.is_group %}
                                       {% include "catalogue/partials/add_to_basket_form_compact.html" %}
                                     {% endif %}


		       </figcaption>
	    </figure>
     {% endblock %}





 </div>
{% endblock %}



