{% extends "layout.html" %}
{% load i18n %}
{% load staticfiles %}
{% load compress %}
{% load promotion_tags %}
        {% load thumbnail %}

  {% block content %}

				<!-- Chefs Start -->

					<div class="container">
						<!-- Default Heading -->
						<div class="default-heading">




						</div>

					</div>

          <!--/stories-->
          <div class="row">
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="Елена Захарова"src="{% static "flowers/img/chef/Zakharova.jpg" %}"  style="width:150px;height:150px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Елена Захарова</h3>
              <div class="row text-muted">
                <div class="col-xs-9">
                  <h4><span class="label label-default">Мастер-флорист</span> <span class="label label-default">член Национальной гильдии флористов</span> <span class="label label-default">директор студии «Цветы Большого Города»</span></h4>
                   <h4><span class="label label-default">Судья Европейской Федерации ассоциаций профессиональных флористов (FLORINT)</span></h4>
                   Образование • <a href="#" class="text-muted">Республиканская школа аранжировки цветов 1994-1995 гг.</a><br>
                   Семинары у преподавателей•

                           Грегор Лерш,Тор Гундерсен,  Фридхельм Раффелл,    Питер Хесс, Олаф Шрерс.<br/><br>

                 <p>  Магазин «Цветы на Сретенке» г.Москва 2001-2005 гг.<br/>
                   Флористическая мастерская г. Москва 2005-2007 гг.
                   Участие в Чемпионате России в 2001 и 2006 гг.</p><br/>

                   <p> 2-е место на конкурсе «Московская весна» МВК «Сокольники» г Москва 2004 г.</p>
                    <p>1-е место на конкурсе «Московская весна» МВК «Сокольники» г. Москва 2005 г.</p>
                    <p>1-е место на конкурсе флористических скульптур «Flora Beauty» г.Москва 2007 г.</p>
                    <p>Принимала участие в оформлении официальных мероприятий аппарата Президента РФ.</p> <br/>

                 В настоящее время преподает, участвует в  шоу-показах,  выставках.
                    Директор студии «Цветы Большого Города».
                    Судья региональных конкурсов в Иркутске, Екатеринбурге, Казани, Астане, Перми, Сочи, Рыбинск, Самаре.




                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>



          <!--/stories-->

<br/>
        <br/>





{% endblock %}