{% extends "layout.html" %}
{% load i18n %}
{% load staticfiles %}
{% load compress %}
{% load promotion_tags %}
        {% load thumbnail %}

  {% block content %}

				<!-- Chefs Start -->

					<div class="container">
						<!-- Default Heading -->
						<div class="default-heading">

							<h2>флористы</h2>

						</div>

					</div>

          <!--/stories-->
          <div class="row">
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="Елена Захарова"src="{% static "flowers/img/chef/Zakharova.jpg" %}"  style="width:150px;height:150px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Елена Захарова</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">Мастер-флорист</span> <span class="label label-default">член Национальной гильдии флористов</span> <span class="label label-default">директор студии «Цветы Большого Города»</span></h4>
                   <h4><span class="label label-default">Судья Европейской Федерации ассоциаций профессиональных флористов (FLORINT)</span></h4>
                  <small  class="text-muted">Образование • <a href="#" class="text-muted">Республиканская школа аранжировки цветов 1994-1995 гг.</a></small><br>
                    <small  class="text-muted">Семинары у преподавателей •

                           Грегор Лерш,Тор Гундерсен,  Фридхельм Раффелл,    Питер Хесс, Олаф Шрерс.</small><br/>
                    <small  class="text-muted">Магазин «Цветы на Сретенке» г.Москва 2001-2005 гг. </small><br/>
                     <small  class="text-muted">Флористическая мастерская г. Москва 2005-2007 гг. </small><br/>
                     <small  class="text-muted">Участие в Чемпионате России в 2001 и 2006 гг. </small><br/>
                    <small  class="text-muted"> 2-е место на конкурсе «Московская весна» МВК «Сокольники» г Москва 2004 г. </small><br/>
                    <small  class="text-muted"> 1-е место на конкурсе «Московская весна» МВК «Сокольники» г. Москва 2005 г. </small><br/>
                    <small  class="text-muted"> 1-е место на конкурсе флористических скульптур «Flora Beauty» г.Москва 2007 г. </small><br/>
                    <small  class="text-muted"> Принимала участие в оформлении официальных мероприятий аппарата Президента РФ. </small><br/>
<br/>
                     <small  class="text-muted">  В настоящее время преподает, участвует в  шоу-показах,  выставках.<br/>
                    Директор студии «Цветы Большого Города».<br/>
                    Судья региональных конкурсов в Иркутске, Екатеринбурге, Казани, Астане, Перми, Сочи, Рыбинск, Самаре. </small>




                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>

          <div class="row">
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="{% static "flowers/img/chef/Bukalova.jpg" %}" style="width:150px;height:150px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9 ">
              <h3>Олеся Букалова</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">Работает флористом с 2010 года. </span></h4>
                  <small  class="text-muted">Образование • <a href="#" class="text-muted">окончила базовый курс по европейской флористике у Захаровой Елены. </a></small>
<br/>
                    <small  class="text-muted">Семинары у преподавателей • Юкка Токаги (Япония), Наталь Жижко  и Павел Черняк, Сергей Карпунин (Россия), Сержио Гонсалес (Испания)</small><br/><br/>
                   <small  class="text-muted">6-е место на конкурсе Пермского края по профессиональной флористике</small>



                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>

          <div class="row">
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="{% static "flowers/img/chef/4.jpg" %}" style="width:150px;height:150px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Опарина Алена</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-default">Работает флористом с 2013 года</span></h4>
                  <small  class="text-muted">Образование • <a href="#" class="text-muted">окончила базовый курс по европейской флористике у Захаровой Елены. </a></small>
                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>



          <!--/stories-->

<br/>
        <br/>





{% endblock %}