{% extends "layout.html" %}

{% load url from future %}

{% load i18n %}
{% load product_tags %}
{% load form_tags %}
{% load widget_tweaks %}

{% load staticfiles %}


 {% block content %}

<!-- Booking Start -->

				<div class="booking">
					<div class="container">
						<div class="row">

							<div class="col-md-5">
								<!-- Booking form area -->
								<div class="booking-form">
									<!-- Heading -->
									<h3>Экспресс заказ</h3>
									<!-- Paragraph -->
									<p>Заполните форму с контактными данными и наш менеджер перезвонит вам в течении нескольких минут</p>
									<!-- Booking form -->
									<form  method="post" action="/contact/add_contact/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
            {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
            {{ field.errors }}
            <p>
            {{ field.help_text }}</p>
            {{ field |add_class:"form-control"  }}<br/>
            {% endfor %}

            <br/>
            <input class="btn btn-danger" type="submit" name="submit" value="Заказать"/>

        </form>
								</div>
                            </div>

                                <div class="col-md-7">
                                      <br/>
                                    <br/>


								<!-- Paragraph -->
								<p></p>

								<!-- Image Slider -->
								<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
									<!-- Wrapper for slides -->
									<div class="carousel-inner">
										<div class="item active">
											<img class="img-responsive" src="{% static "flowers/img/01.jpg" %}" alt="Цветы большого города" />
										</div>
										<div class="item">
											<img class="img-responsive" src="{% static "flowers/img/02.jpg" %}" alt="Цветы большого города" />
										</div>
										<div class="item">
											<img class="img-responsive" src="{% static "flowers/img/05.jpg" %}" alt="Цветы большого города"/>
										</div>
									</div>

									<!-- Controls -->
									<a class="left carousel-control" href="reserve-seats.html#carousel-example-generic" data-slide="prev">
										<span class="fa fa-chevron-left"></span>
									</a>
									<a class="right carousel-control" href="reserve-seats.html#carousel-example-generic" data-slide="next">
										<span class="fa fa-chevron-right"></span>
									</a>
								</div>
							</div>


							</div>
						</div>
					</div>
				</div>

				<!-- Booking End -->







{% endblock %}
