{% extends "layout.html" %}
{% load i18n%}
{% load staticfiles %}


{% load product_tags %}

{% block navigation %}

{% endblock %}

{% block header %}










        <!-- Services Start -->

				<div class="dishes padd">
					<div class="container">
						<!-- Default Heading -->
						<div class="default-heading">


							<!-- Heading -->
							<h2>ДОБРО ПОЖАЛОВАТЬ</h2>
							<!-- Paragraph -->
							<p>

                                В «Цветах большого города» вы можете заказать цветы с доставкой по Перми.  Если вы не можете определиться,  вы всегда можете связаться с нами  по телефону <br/><span class="letter">+7(342) 212 75 99</span></p>					<!-- Border -->

						</div>



					</div>
				</div>













{% endblock %}



{% block content %}












{% endblock content %}
