{% extends "layout_la.html" %}
{% load i18n%}
{% load staticfiles %}


{% block navigation %}

{% endblock %}

{% block header %}{% endblock %}



{% block content %}

        <br/>
        <br/>
        <br/>
<br/>
        <br/>
        <br/>

        <br/>
        <br/>
        <br/>
<br/>
        <br/>
        <br/>




        <br/>



<div class="row">

                      <div class="col-md-4 col-sm-4"> <div class="header-contact">
									<!-- Contact number -->
								<!--	<span> <i class="fa fa-phone red"></i>+7(342)212-75-99</span>-->
			 					 </div>
					   </div>
                       <div class="col-md-4 col-sm-4">
                  	<!-- Link -->
							<a href="/catalogue/">
								<!-- Logo area -->
								<div class="logo">
									<img class="img-responsive" src="{% static "flowers/img/logo.png" %}" alt="Цветы большого города" />


									<!-- Paragraph -->
									<p>Магазин-студия флористики </p>
								</div>
							</a>
                        </div>
                     <div class="col-md-4 col-sm-4">

						</div>
                    </div>
                    </div>

        <br/>
        <br/>
        <br/>
<br/>
        <br/>
        <br/>


        <br/>
        <br/>
        <br/>
<br/>
        <br/>
        <br/>



   <div class="row">

        <br/>
        <br/>
        <br/>
<br/>
        <br/>
        <br/>

        <br/>
        <br/>
        <br/>
<br/>
        <br/>
        <br/>




{% endblock content %}
