{% extends "layout.html" %}
{% load i18n%}
{% load staticfiles %}


{% load product_tags %}

{% block navigation %}

{% endblock %}

{% block header %}
<!-- Slider Start
			#################################
				- THEMEPUNCH BANNER -
			#################################	-->

			<div class="tp-banner-container">
				<div class="tp-banner" >
					<ul>	<!-- SLIDE  -->
						<li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
							<!-- MAIN IMAGE  1-->
							<img src="{% static "flowers/img/slider/slide2.jpg" %}"  alt=""  data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat">

							<!-- LAYERS -->
							<!-- LAYER NR. 1 -->
							<div class="tp-caption lfl"
								data-x="20"
								data-y="100"
								data-speed="1500"
								data-start="1200"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 3">
							</div>



							<!-- LAYER NR. 3.0 -->
							<div class="tp-caption customin customout"
								data-x="right" data-hoffset="-50"
								data-y="100"
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="400"
								data-start="3600"
								data-easing="Power3.easeInOut"
								data-endspeed="300"
								style="z-index: 5"><img class="slide-img img-responsive" src="{% static "flowers/img/slider/s21.jpg" %}" alt="" />
							</div>
							<!-- LAYER NR. 3.1 -->
							<div class="tp-caption customin customout"
								data-x="right" data-hoffset="-120"
								data-y="130"
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="400"
								data-start="3900"
								data-easing="Power3.easeInOut"
								data-endspeed="300"
								style="z-index: 6"><img class="slide-img img-responsive" src="{% static "flowers/img/slider/s22.png"%}" alt="" />
							</div>
							<!-- LAYER NR. 3.2 -->
							<div class="tp-caption customin customout"
								data-x="right" data-hoffset="-10"
								data-y="160"
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="400"
								data-start="4200"
								data-easing="Power3.easeInOut"
								data-endspeed="300"
								style="z-index: 7"><img class="slide-img img-responsive" src="{% static "flowers/img/slider/s23.png"%}" alt="" />
							</div>
							<!-- LAYER NR. 3.3 -->
							<div class="tp-caption customin customout"
								data-x="right" data-hoffset="-80"
								data-y="190"
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="400"
								data-start="4500"
								data-easing="Power3.easeInOut"
								data-endspeed="300"
								style="z-index: 8"><img class="slide-img img-responsive" src="{% static "flowers/img/slider/s24.png" %}" alt="" />
							</div>
						</li>



                    <li data-transition="zoomin" data-slotamount="6" data-masterspeed="400" >
							<!-- MAIN IMAGE  5-->
							<img src="{% static "flowers/img/slider/slide94.jpg" %}"  alt=""  data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat">

							<!-- LAYERS -->
							<!-- LAYER NR. 1 -->
							<div class="tp-caption lfl"
								data-x="20"
								data-y="100"
								data-speed="1500"
								data-start="1200"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 3"> Свадебные букеты
							</div>


                            <!-- LAYER NR. 3.2 -->
							<div class="tp-caption customin customout"
								data-x="right" data-hoffset="-20"
								data-y="150"
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="400"
								data-start="4700"
								data-easing="Power3.easeInOut"
								data-endspeed="300"
								style="z-index: 7"><img class="slide-img img-responsive" src="{% static "flowers/img/slider/s86.jpg"%}" alt="" />
							</div>





                            <!-- LAYER NR. 3.11 -->
							<div class="tp-caption customin customout"
								data-x="right" data-hoffset="-100"
								data-y="50"
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="400"
								data-start="4500"
								data-easing="Power3.easeInOut"
								data-endspeed="300"
								style="z-index: 6"><img class="slide-img img-responsive" src="{% static "flowers/img/slider/s82.jpg"%}" alt="" />
							</div>




                            <div class="tp-caption customin customout"
								data-x="right" data-hoffset="-50"
								data-y="100"
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="400"
								data-start="3600"
								data-easing="Power3.easeInOut"
								data-endspeed="300"
								style="z-index: 5"><img class="slide-img img-responsive" src="{% static "flowers/img/slider/s544.jpg" %}" alt="" />
							</div>






							<!-- LAYER NR. 3.3 -->
							<div class="tp-caption customin customout"
								data-x="right" data-hoffset="-60"
								data-y="160"
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="400"
								data-start="4900"
								data-easing="Power3.easeInOut"
								data-endspeed="300"
								style="z-index: 8"><img class="slide-img img-responsive" src="{% static "flowers/img/slider/s93.jpg" %}" alt="" />
							</div>
						</li>












						<!--<li data-transition="flyin" data-slotamount="3" data-masterspeed="400" >-->
                            <li data-transition="turnoff" data-slotamount="6" data-masterspeed="400" >

                            <!-- MAIN IMAGE  2-->
							<img src="{% static "flowers/img/slider/slide3.jpg" %}"  alt=""  data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat">

							<!-- LAYERS -->
							<!-- LAYER NR. 1 -->







						</li>








						<li data-transition="zoomin" data-slotamount="6" data-masterspeed="400" >
							<!-- MAIN IMAGE  4-->
							<img src="{% static "flowers/img/slider/slide93.jpg" %}"  alt=""  data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat">

							<!-- LAYERS -->
							<!-- LAYER NR. 1 -->
							<div class="tp-caption lfl"
								data-x="20"
								data-y="100"
								data-speed="1500"
								data-start="1200"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 3">
							</div>




						</li>
















					</ul>
					<!-- Banner Timer -->
					<div class="tp-bannertimer"></div>
				</div>
			</div>
			<!-- Slider End -->


        <!-- Services Start -->

				<div class="dishes padd">
					<div class="container">
						<!-- Default Heading -->
						<div class="default-heading">

                            	<img class="img-responsive" src="{% static "flowers/img/flower3.png" %}" alt="Цветы большого города" />

							<!-- Heading -->
							<h2>Наши Услуги</h2>
							<!-- Paragraph -->
							<p>

                                В «Цветах большого города» вы можете заказать цветы с доставкой по Перми.  Если вы не можете определиться,  вы всегда можете связаться с нами  по телефону <br/><span class="letter">+7(342) 212 75 99</span></p>					<!-- Border -->

						</div>
						<div class="row">
							<div class="col-md-4 col-sm-6">
								<div class="dishes-item-container">
									<!-- Image Frame -->
									<div class="img-frame">
										<!-- Image -->
										<img src="{% static "flowers/img/buckets/bandk.jpg" %}" class="img-responsive" alt="" />
										<!-- Block for on hover effect to image -->
										<div class="img-frame-hover">
											<!-- Hover Icon -->
										<a href="/catalogue/"><i class="fa fa-link"></i> fa-link</i></a>
										</div>
									</div>
									<!-- Dish Details -->
									<div class="dish-details">
										<!-- Heading -->
										<h3>Букеты и композиции</h3>
										<!-- Paragraph -->
										<p></p>
										<!-- Button -->

									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="dishes-item-container">
									<!-- Image Frame -->
									<div class="img-frame">
										<!-- Image -->
										<img src="{% static "flowers/img/buckets/svb2.jpg" %}" class="img-responsive" alt="" />
										<!-- Block for on hover effect to image -->
										<div class="img-frame-hover">
											<!-- Hover Icon -->
										<a href="index.html#"><i class="fa fa-link"></i> fa-link</i></a>
										</div>
									</div>
									<!-- Dish Details -->
									<div class="dish-details">
										<!-- Heading -->
										<h3>Оформление свадеб, торжеств </h3>
										<!-- Paragraph -->
										<p></p>
										<!-- Button -->
										<!--<a href="index.html#" class="btn btn-danger btn-sm">Узнать больше</a>-->
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="dishes-item-container">
									<!-- Image Frame -->
									<div class="img-frame">
										<!-- Image -->
										 <img src="{% static "flowers/img/buckets/seminar3.jpg" %}" class="img-responsive" alt="" />
										<!-- Block for on hover effect to image -->
										<div class="img-frame-hover">
											<!-- Hover Icon -->
											<a href="index.html#"><i class="fa fa-link"></i> fa-link</i></a>
										</div>
									</div>
									<!-- Dish Details -->
									<div class="dish-details">
										<!-- Heading -->
										<h3>Курсы флористики</h3>
										<!-- Paragraph -->
										<p></p>
										<!-- Button -->
										<!--<a href="index.html#" class="btn btn-danger btn-sm">Узнать больше</a>-->
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>



  <div class="menu padd">
					  <div class="container">
						<!-- Default Heading -->
						    <div class="default-heading">

							    <!-- Heading -->
							       <h2></h2>
							      <!-- Paragraph -->
							         <p></p>
							      <!-- Border -->

						    </div>
						<!-- Menu content container -->





					   </div> <!-- /Menu container end -->





			    </div>










{% endblock %}



{% block content %}





                <div class="menu padd">
					  <div class="container">
						<!-- Default Heading -->
						    <div class="default-heading">

							    <!-- Heading -->
							       <h2></h2>
							      <!-- Paragraph -->
							         <p></p>
							      <!-- Border -->
							      <!--<div class="border"> </div>-->
						    </div>
						<!-- Menu content container -->





					   </div> <!-- /Menu container end -->





			    </div>










{% endblock content %}
